<form action="" method="POST" role="form">
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            3T_LIBRARY
                            <small>Control Panel</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                            <div class="col-sm-8">
                                <a style="text-decoration: none; color: inherit;" href="Users_view.php">
                                    <h1 style="margin-top: 0px">
                                        <i class="images/application_from_storage.png"></i> Returned
                                    </h1>
                                </a>
                            </div>
                    </div>
                    <p></p>
                <!-- table detail-->
                <div class="col-xs-12 detail_view ">
                    <div class="panel panel-default">
                        <!-- Edit this file to change the layout of the detail view form -->

                        <a name="detail-view"></a>
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <strong>Returned detail</strong>
                            </h3>
                        </div>

                        
                            <hr class="hidden-xs hidden-md">

                            <div class="row">
                                <!-- form inputs -->
                                {{!-- {{#with return_book}} --}}
                                <div class="col-md-8 col-lg-9" id="Users_dv_form">
                                    {{#with return_book}}
                                    <fieldset class="form-horizontal">

                                        <div class="form-group">
                                            <hr class="hidden-md hidden-lg">
                                            <label for="id" class="control-label col-lg-3">ID</label>
                                            <div class="col-lg-9">
                                                <input maxlength="40" type="text" class="form-control" name="id" value="{{id}}" readonly>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <hr class="hidden-md hidden-lg">
                                            <label for="Book_Number" class="control-label col-lg-3">Book Number</label>
                                            <div class="col-lg-9">
                                                <input maxlength="40" type="number" class="form-control" name="Book_Number" id="Book_Number" value="{{Book_Number}}">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <hr class="hidden-md hidden-lg">
                                            <label for="Book_Title" class="control-label col-lg-3">Book Title</label>
                                            <div class="col-lg-9">
                                                <input maxlength="40" type="number" class="form-control" name="Book_Title" id="Book_Title" value="{{Book_Title}}">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <hr class="hidden-md hidden-lg">
                                            <label for="Issue_Date" class="control-label col-lg-3">Issue Date</label>
                                            <div class="col-lg-9">
                                                <input maxlength="140" type="date" class="form-control" name="Issue_Date" id="Issue_Date" value="{{Issue_Date}}">
                                            </div>
                                        </div>
                                       
                                       <div class="form-group">
                                            <hr class="hidden-md hidden-lg">
                                            <label for="Due_Date" class="control-label col-lg-3">Due Date</label>
                                            <div class="col-lg-9">
                                                <input maxlength="140" type="number" class="form-control" name="Due_Date" id="Due_Date" value="{{Due_Date}}">
                                            </div>
                                        </div>
                                       
                                       <div class="form-group">
                                            <hr class="hidden-md hidden-lg">
                                            <label for="Return_Date" class="control-label col-lg-3">Return Date</label>
                                            <div class="col-lg-9">
                                                <input maxlength="140" type="date" class="form-control" name="Return_Date" id="Return_Date" value="{{Return_Date}}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <hr class="hidden-md hidden-lg">
                                            <label for="Member" class="control-label col-lg-3">Member</label>
                                            <div class="col-lg-9">
                                                <input maxlength="40" type="text" class="form-control" name="Member" id="Member" value="{{Member}}">
                                            </div>
                                        </div>
                                        
                                       <div class="form-group">
                                            <hr class="hidden-md hidden-lg">
                                            <label for="Number" class="control-label col-lg-3">Number</label>
                                            <div class="col-lg-9">
                                                <input maxlength="40" type="text" class="form-control" name="Number" id="Number" value="{{Number}}">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <hr class="hidden-md hidden-lg">
                                            <label for="Fine" class="control-label col-lg-3">Fine</label>
                                            <div class="col-lg-9">

                                                <input maxlength="40" type="text" class="form-control" name="Fine" id="Fine" value="{{Fine}}">
                                                  
                                            </div>
                                        </div>

                                          <div class="form-group">
                                            <hr class="hidden-md hidden-lg">
                                            <label for="Status" class="control-label col-lg-3">Status</label>
                                            <div class="col-lg-9">
                                                <input maxlength="40" type="text" class="form-control" name="Status" id="Status" value="{{Status}}">
                                            </div>
                                        </div>
                                    </fieldset>
                                    {{/with}}
                                </div>
                                {{!-- {{/with}} --}}

                                <!-- DV action buttons -->
                                <hr class="hidden-md hidden-lg">
                                <div class="col-md-4 col-lg-3" id="Users_dv_action_buttons">
                            <div class="btn-toolbar" style="margin-top: 0px;">
                                <div class="btn-group-vertical btn-group-lg" style="width: 100%;">
                                    <button type="submit" class="btn btn-success btn-lg" value="1"
                                        title="Save Changes">
                                        <i class="glyphicon glyphicon-ok"></i> Save Changes</button>
                                </div>
                                <p></p>
                                <div class="btn-group-vertical btn-group-lg" style="width: 100%;">
                                    <button type="submit" class="btn btn-default" id="deselect" name="deselect_x" value="1" >
                                        <i class="glyphicon glyphicon-chevron-left"></i> Back</button>
                                    <button type="submit" class="btn btn-default" id="dvprint" name="dvprint_x" value="1" >
                                        <i class="glyphicon glyphicon-print"></i> Print Preview</button>
                                    <button type="submit" class="btn btn-danger" id="delete" name="delete_x" formaction="/returned/delete" value="1"
                                        title="Delete">
                                        <i class="glyphicon glyphicon-trash"></i> Delete</button>
                                </div>
                                <p></p>
                                <div class="btn-group-vertical btn-group-lg" style="width: 100%;">
                                    <button type="submit" class="btn btn-default" id="insert" name="insert_x" value="1" >
                                        <i class="glyphicon glyphicon-plus-sign"></i> Save As Copy</button>
                                </div>
                            </div>
                        </div>
                            </div>
                            <!-- child records -->
                            <hr>
                        
                        </div>
                        <!-- /div class="panel-body" -->
                    </div>
                </div>
                <!-- /table detail-->
            </div>
        </div>

</form>

































{{!-- <form action="" method="POST" role="form">
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            3T_LIBRARY
                            <small>Control Panel</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                            <div class="col-sm-8">
                                <a style="text-decoration: none; color: inherit;" href="Users_view.php">
                                    <h1 style="margin-top: 0px">
                                        <i class="images/application_from_storage.png"></i> Returned
                                    </h1>
                                </a>
                            </div>
                    </div>
                    <p></p>
                <!-- table detail-->
                <div class="col-xs-12 detail_view ">
                    <div class="panel panel-default">
                        <!-- Edit this file to change the layout of the detail view form -->

                        <a name="detail-view"></a>
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <strong>Returned detail</strong>
                            </h3>
                        </div>

                        <div class="panel-body" id="Users_dv_container">
                        <!-- child links -->
                            <hr class="hidden-xs hidden-md">

                            <div class="row">
                                <!-- form inputs -->
                                {{#with return_book}}
                                    <div class="col-md-8 col-lg-9" id="Users_dv_form">
                                    <fieldset class="form-horizontal">

                                         <div class="form-group">
                                            <hr class="hidden-md hidden-lg">
                                            <label for="Book_Number" class="control-label col-lg-3">ID</label>
                                            <div class="col-lg-9">
                                                <input maxlength="40" type="text" class="form-control" name="id" value="{{id}}" readonly>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <hr class="hidden-md hidden-lg">
                                            <label for="Book_Number" class="control-label col-lg-3">Book Number</label>
                                            <div class="col-lg-9">
                                                <input maxlength="40" type="number" class="form-control" name="Book_Number" id="Book_Number" value="{{Book_Number}}">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <hr class="hidden-md hidden-lg">
                                            <label for="Book Title" class="control-label col-lg-3">Book Title</label>
                                            <div class="col-lg-9">
                                                <input maxlength="40" type="number" class="form-control" name="Book_Title" id="Book_Title" value="{{Book_Title}}">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <hr class="hidden-md hidden-lg">
                                            <label for="Issue_Date" class="control-label col-lg-3">Issue Date</label>
                                            <div class="col-lg-9">
                                                <input maxlength="140" type="date" class="form-control" name="Issue_Date" id="Issued Date" value="{{Issued_Date}}">
                                            </div>
                                        </div>
                                       
                                       <div class="form-group">
                                            <hr class="hidden-md hidden-lg">
                                            <label for="Due_Date" class="control-label col-lg-3">Due Date</label>
                                            <div class="col-lg-9">
                                                <input maxlength="140" type="number" class="form-control" name="Due_Date" id="Due_Date" value="{{Due_Date}}">
                                            </div>
                                        </div>
                                       
                                       <div class="form-group">
                                            <hr class="hidden-md hidden-lg">
                                            <label for="Return_Date" class="control-label col-lg-3">Return Date</label>
                                            <div class="col-lg-9">
                                                <input maxlength="140" type="date" class="form-control" name="Return_Date" id="Return_Date" value="{{Return_Date}}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <hr class="hidden-md hidden-lg">
                                            <label for="Member" class="control-label col-lg-3">Member</label>
                                            <div class="col-lg-9">
                                                <input maxlength="40" type="text" class="form-control" name="Member" id="Member" value="{{Member}}">
                                            </div>
                                        </div>
                                        
                                       <div class="form-group">
                                            <hr class="hidden-md hidden-lg">
                                            <label for="Number" class="control-label col-lg-3">Number</label>
                                            <div class="col-lg-9">
                                                <input maxlength="40" type="text" class="form-control" name="Number" id="Number" value="{{Number}}">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <hr class="hidden-md hidden-lg">
                                            <label for="Fine" class="control-label col-lg-3">Fine</label>
                                            <div class="col-lg-9">

                                                <input maxlength="40" type="text" class="form-control" name="Fine" id="Fine" value="{{Fine}}">
                                                  
                                            </div>
                                        </div>

                                          <div class="form-group">
                                            <hr class="hidden-md hidden-lg">
                                            <label for="Status" class="control-label col-lg-3">Status</label>
                                            <div class="col-lg-9">
                                                <input maxlength="40" type="text" class="form-control" name="Status" id="Status" value="{{Status}}">
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                {{/with}}
                            </div>

                                <!-- DV action buttons -->
                        <hr class="hidden-md hidden-lg">
                         <div class="col-md-4 col-lg-3" id="Users_dv_action_buttons">
                            <div class="btn-toolbar" style="margin-top: 0px;">
                                <div class="btn-group-vertical btn-group-lg" style="width: 100%;">
                                    <button type="submit" class="btn btn-success btn-lg" value="1"
                                        title="Save Changes">
                                        <i class="glyphicon glyphicon-ok"></i> Save Changes</button>
                                </div>
                                <p></p>
                                <div class="btn-group-vertical btn-group-lg" style="width: 100%;">
                                    <button type="submit" class="btn btn-default" id="deselect" name="deselect_x" value="1" >
                                        <i class="glyphicon glyphicon-chevron-left"></i> Back</button>
                                    <button type="submit" class="btn btn-default" id="dvprint" name="dvprint_x" value="1" >
                                        <i class="glyphicon glyphicon-print"></i> Print Preview</button>
                                    <button type="submit" class="btn btn-danger" id="delete" name="delete_x" value="1"
                                        title="Delete">
                                        <i class="glyphicon glyphicon-trash"></i> Delete</button>
                                </div>
                                <p></p>
                                <div class="btn-group-vertical btn-group-lg" style="width: 100%;">
                                    <button type="submit" class="btn btn-default" id="insert" name="insert_x" value="1" >
                                        <i class="glyphicon glyphicon-plus-sign"></i> Save As Copy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- child records -->
                    <hr>
                        
                        </div>
                        <!-- /div class="panel-body" -->
                    </div>
                </div>
                <!-- /table detail-->
            </div>
</form> --}}